.home_product_features_section{
    background-color: $secondary-color;
    .home_product_features_container{
        margin: 0 auto;
        max-width: calc($max-width - 10%);
        padding: 4em 2em;
        display: none;
        @include media('>=desktop'){

            display: grid; 
            align-items: center;
            justify-content: center;
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-columns: 1fr 1fr 1fr;
        }
   #item-0 {

    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 2;
    align-self: end;
    
 }
 #item-1 {
    height: 110%;
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 4;
    grid-column-end: 3;
    
 }
 #item-2 {
 
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-3 {
 
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 2;
    
 }
 .prod_feature{
            .horizontal_line{
                position: absolute;
               height: 1px;
               width: 150px;
               background-color: black;
            }
            #hr_1{
                right:-25%;
                transform: rotate(-10deg);
            }
            #hr_2{
                left:-25%;
                transform: rotate(10deg);
            }
            #hr_3{
                right:-25%;
                transform: rotate(-10deg);
            }
            position: relative;
            text-align: center  ;
            .prod_feature_title{
                font-weight: 500;
                font-size: 20px;
                @include media('>=desktop'){
                    font-size: 34px;
                }
            }
            .prod_feature_text{
                font-size: 16px;
                @include media('>=desktop'){
                    font-size: 20px;
                }
            }
        }
    }
    .home_product_features_container__sm{
        display: none;
        @include media('<desktop'){
            display: grid;
            margin-bottom: 4em;
            padding: 2em;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content:space-around;
            // gap:1em;
        }
        #item-0 {

            grid-row-start: 1;
            grid-column-start: 1;
         
            grid-row-end: 2;
            grid-column-end: 2;
            
         }
         #item-1 {
         
            grid-row-start: 1;
            grid-column-start: 2;
            justify-self: center;
            grid-row-end: 2;
            grid-column-end: 3;
            
         }
         #item-2 {
            justify-self:end ;
            grid-row-start: 2;
            grid-column-start: 1;
            transform: scale(1.5);
            grid-row-end: 3;
            grid-column-end: 2;
            
         }
         #item-3 {
         
            grid-row-start: 2;
            grid-column-start: 2;
         
            grid-row-end: 3;
            grid-column-end: 3;
            
         }
         #item-4 {
         
            grid-row-start: 3;
            grid-column-start: 1;
         
            grid-row-end: 4;
            grid-column-end: 2;
            
         }
         #item-5 {
         
            grid-row-start: 3;
            grid-column-start: 2;
            justify-self: center;
            
            grid-row-end: 4;
            grid-column-end: 3;
            
         }
        .prod_feature__sm{
            text-align: center;
            .prod_feature_title__sm{
                font-weight: 500;
                font-size: 20px;
                @include media('>=desktop'){
                    font-size: 34px;
                }

            }
            .prod_feature_text__sm{
                width: 90%;
                margin: 0 auto;
                padding: 1em;
                font-size: 16px;
                @include media('>=desktop'){
                    font-size: 20px;
                }

            }
        }
        .prod_feature__img__sm{

        }
    }
}