.productFeature_container {
  // overflow: hidden;
  .productFeature_wrapper {
    margin: 0 auto;
    // height: calc(90vh - 2em);
    display: grid;
    @include media(">=desktop") {
      max-width: $max-width;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .productFeature_left {
      justify-self: center;
      align-self: center;
    }
    .productFeature_right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10%;
      width: 100%;
      height: 100%;
      .productFeature_right__title {
        h1 {
          font-size: 22px;
          font-weight: 500;
          text-align: center;
          @include media(">=desktop") {
            font-size: 34px;
          }
        }
      }
      .productFeature_right__button {
        .button {
          padding: 12px 50px;
          p {
            font-size: 16px;
            text-align: center;
          }
        }
      }
      .productFeature_right__paragraph {
        h1 {
          font-size: 26px;
          text-align: center;
        }
        .ProductFeature_button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            margin-top: 20px;
            p {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
.productFeature_form_wrapper {
  margin: 0 auto;
  margin-bottom: 25px;
  @include media(">=desktop") {
    width: calc($max-width - 20%);
  }
  .productFeature_form {
    background-color: $secondary-color;
    padding: 30px;
    border-radius: 10px;
    h1 {
      font-size: 20px;
    }
    input[type="text"] {
      width: 80%;
      padding: 16px;
      margin: 15px auto;
      box-sizing: border-box;
      border-radius: 10px;
      border: none;
    }
    button {
      margin: auto 10px;
      p {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
.modalFeatures {
  padding: 30px;
  h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;

    li {
      padding: 15px;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }

      span {
        font-weight: 500;
        color: $primary-color;
        font-size: 18px;
      }
    }
  }
}
