.feature_container {
  overflow: hidden;
  font-family: "inter";
  background-color: $secondary-color;
  .feature_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(">=desktop") {
      margin: 0 auto;
      max-width: $max-width;
      height: 80vh;
    }
    .content_left {
      width: 50%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 2em;
      grid-template-areas:
        "."
        "."
        ".";
      .content_left__item1 {
        justify-self: center;
        align-self: center;
        center {
          h1 {
            font-size: 34px;
            margin-bottom: 0.5em;
            font-weight: 700;
            span {
              font-size: 26px;
              strong {
                font-weight: 900;
              }
            }
          }
        }
      }
      .content_left__item2 {
        justify-self: center;
        align-self: center;
        center {
          h1 {
            font-size: 34px;
            font-weight: 700;
            margin-bottom: 0.5em;
          }
          span {
            font-size: 16px;
          }
        }
      }
      .content_left__item3 {
        justify-self: center;
        align-self: center;
        center {
          h1 {
            font-size: 34px;
            font-weight: 700;
            margin-bottom: 0.5em;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
    .content_right {
      width: 50%;
      .image_wrapper {
        @include media(">=desktop") {
          // transform: scale(1.1);
        }
      }
    }
  }
}
