.about_landing_section{
    font-family: 'Inter';
    .about_landing_container{
        h3{
            font-weight: 500;
            font-size: 20px;
            @include media('>=desktop'){
                font-size: 34px;
            }

        }
        p{
            font-size: 16px;
            @include media('>=desktop'){
                font-size: 20px;

            }
        }
        .about_landing_container__text{
            text-align: center;
            padding: 2em 0 0 0;
            
        }
        .about_landing_container__text-2{
            max-width: 1280px;
            padding:1em 2em;
            margin: 0 auto;
            margin-bottom: 2em;
        }
        .about_landing_container__title-2{
            padding:1em 1.2em;
            padding-bottom: 0;
            max-width: 1280px;
            margin: 0 auto;
        }
        .about_landing_container__title{
            margin: 0 auto;
            padding:1em;
            text-align: center;

            @include media('>=desktop'){
                width: 50%;
            }
        }
        .videoWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            @include media ('<tablet'){
              height: 40vh;
            }
            .video {
              background-color: white;
              @include media ('<tablet'){
                transform: scale(0.6);
              }
              @include media(">=desktop") {
                // height: 40vh;
                // width: 60vw;
              }
            }
          }
    }
}