.preorder_form{
    padding: 2em;
    margin: 0 auto;
    background-color: #D9D9D9;
    max-width: 800px;
    margin-bottom: 4em;
    border-radius: 10px;
    h3{
        font-weight: 600;
        font-size: 22px;
        margin: 1em 0;
        text-align: center;
        @include media('>=desktop'){
            font-size: 30px;
        }
    }
    .preorder_form_box{
        display: flex;
        flex-direction: column;
    }
}